<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <title>Productos</title>

      <!-- Ruta relativa porque está en /views -->
      <link rel="stylesheet" href="../css/Estilos.css">
    </head>

    <body>

    <header>
      <nav>

        <!-- Logo -->
        <a href="../index.html">
          <img src="../Img/LogoEmpresa.png" width="120" height="80" alt="Logo">
        </a>

        <!-- Menú -->
        <div>
          <a href="../index.html">Inicio</a>
          <a href="productos.html" class="activo">Productos</a>
          <a href="presupuesto.html">Presupuesto</a>
          <a href="contacto.html">Contacto</a>
        </div>

      </nav>
    </header>

    <main>

      <h2>Productos</h2>

      <!-- Galería en cuadrícula -->
      <div class="grid-galeria">

        <!-- Producto 1 -->
        <figure class="gal-item">
            <img src="../Img/PrimerProducto.jpg" width="300" height="200" alt="Cepillo dental">
            <figcaption> 
                <h3>Cepillo Dental</h3>
                <p>Alta calidad para una limpieza profunda.</p>
                <span class="precio">3.99€</span>
            </figcaption>                 
        </figure>

        <!-- Producto 2 -->
        <figure class="gal-item">
            <img src="../Img/SegundoProducto.jpg" width="300" height="200" alt="Pasta dental">
            <figcaption>
                <h3>Pasta Dental</h3>
                <p>Protección contra caries.</p>
                <span class="precio">2.50€</span>
            </figcaption>
        </figure>

        <!-- Producto 3 -->
        <figure class="gal-item">
            <img src="../Img/Tercerproducto.jpg" width="300" height="200" alt="Hilo dental">
            <figcaption>
                <h3>Hilo Dental</h3>
                <p>Limpieza entre dientes.</p>
                <span class="precio">1.99€</span>
            </figcaption>
        </figure>

    </div>

    </main>

    <footer>
      <p>© Dentista Mallenco</p>
    </footer>

  </body>
</html>